<div *ngIf="ProductTable" class="right_content_sub_page" style="max-height: 530px; overflow-y: auto" >
    <div class="content_page_body dashboard_body">
        <div class="content_sub_page">
            <div class="content_page_header">
                <div class="company_logo">
                    <h3 class="login_h3"></h3>
                </div>

                <div class="action_needed">
                    <button (click)="AddButton()" class="cu_button active">Add</button>
                </div>
            </div>

            <div class="table_view">
                <div class="tableFixHead">
                    <table id="customers">
                        <thead>
                            <tr>
                                <th style="width: 50px;">S. No</th>
                                <th style="width: 50px;">ProductName</th>
                                <th style="width: 50px;">ProductCategory</th>
                                <th style="width: 50px;">Price</th>
                               
                                <th style="width: 50px;">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let pro of products let i=index">
                                <td>{{i+1}}</td>
                                <td>{{pro.Name}}</td>
                                <td>{{pro.Category}}</td>
                                <td>{{pro.Price}}</td>
                                <td>
                                    <div class="tb_action">
                                        <div (click)="ProductEditButton(pro)"><button class="fa-solid fa-pen-to-square"></button></div>
                                        <div (click)="ProductDeleteButton(pro)"><button class="fa-solid fa-trash"></button></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="right_content_sub_page" *ngIf="CreateProduct">
    <div class="content_page_body dashboard_body">
        <div class="content_sub_page">

            <div class="content_page_header">
                <div class="company_logo">
                    <h3 class="login_h3">Create Product</h3>
                </div>

                <div class="action_needed">
                    <button (click)="SaveButton()"  class="cu_button active">Save</button>
                    <button  (click)="BackButton()"   class="cu_button active">Back to Grid</button>
                </div>
            </div>

            <div class="create_new_one">
                <div class="creating_new">

                    <div class="input_field">
                        <input type="text" placeholder="Product Name" [(ngModel)]="ProductData.params.Name">
                    </div>
                    
                    <div class="input_field">
                        <input type="text" placeholder="Category" [(ngModel)]="ProductData.params.Category">
                    </div>

                    <div class="input_field">
                        <div class="input_sub_field">
                            <input type="text" placeholder="Price" [(ngModel)]="ProductData.params.Price">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="right_content_sub_page" *ngIf="EditProduct">
    <div class="content_page_body dashboard_body">
        <div class="content_sub_page">

            <div class="content_page_header">
                <div class="company_logo">
                    <h3 class="login_h3">Edit Product</h3>
                </div>

                <div class="action_needed">
                    <button (click)="ProductEditSaveButton()"  class="cu_button active">Save</button>
                    <button  (click)="ProductEditBackButton()"   class="cu_button active">Back to Grid</button>
                </div>
            </div>

            <div class="create_new_one">
                <div class="creating_new">

                    <div class="input_field">
                        <input type="text" placeholder="Product Name" [(ngModel)]="ProductData.params.Name">
                    </div>
                    
                    <div class="input_field">
                        <input type="text" placeholder="Category" [(ngModel)]="ProductData.params.Category">
                    </div>

                    <div class="input_field">
                        <div class="input_sub_field">
                            <input type="text" placeholder="Price" [(ngModel)]="ProductData.params.Price">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>